@model AndroidNotificationQuiz.Admin.ViewModels.IndexGoodModel
@{
    ViewBag.Title = "Лист товаров";
}

<a class="btn btn-success" asp-action="Create" asp-controller="Shop">Создать товар</a>

<p>
    <h2>Список товаров</h2>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Goods.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Goods.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Goods.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Goods.FirstOrDefault().Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Goods.FirstOrDefault().RealCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Goods.FirstOrDefault().IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Goods.FirstOrDefault().ImagePath)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Goods)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Title)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <img src="@item.ImagePath" alt="ASP.NET" class="img-responsive" width="300px" />
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info" asp-controller="Shop" asp-route-id="@item.Id">Редактировать</a>
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-danger" asp-controller="Shop" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.PageViewModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PageViewModel.HasNextPage ? "disabled" : "";
}

<a asp-action="GoodIndex"
   asp-route-pageIndex="@(Model.PageViewModel.PageNumber - 1)"
   class="btn btn-default @prevDisabled">
    Назад
</a>
<a asp-action="GoodIndex"
   asp-route-pageIndex="@(Model.PageViewModel.PageNumber + 1)"
   class="btn btn-default @nextDisabled">
    Вперед
</a>


